body {
    font-family: Gill sans, sans-serif;
    font-size: 13pt;
    margin-left: 15%; margin-right: 15%;
    background-color: white;
    text-align: justify;
}

.nav {
    list-style-type: none;
    background-color: beige;
    padding: 0.5em;
    margin-left: 0em;
}

.nav .current a {
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.sidebar {
    float: right;
    margin-left: 1em;
    width: 220px;
}

#twtr-widget-1 .twtr-bd p {
    font-size: 0.9em;
}

#twtr-widget-1 a {
    border: none;
}

h1 {
    font-family: Baskerville, serif;
    font-size: 40pt;
    color: beige;
}

h2, h3 { color: steelblue; }

h2 { font-size: 20pt; }
h3 { font-size: 15pt; }

h2 a {
    color: steelblue;
    text-decoration: none;
    border: none;
}

a {
    color: midnightblue;
    text-decoration: none;
    border-bottom: thin dotted;
}

p {
    line-height: 1.5em;
}

td {
    vertical-align: top;
    padding-right: 1em;
}

blockquote {
    font-style: italic;
}

table {
    margin: auto;
    font-size: 17pt;
}

th {
    font-family: Baskerville, serif;
    font-weight: normal;
}
