body {
    padding-left: 5%;
    padding-right: 5%;
    font-family: Gill sans, sans-serif;
    background-color: #fdf6e3;
    color: #657b83;
}

h1, h2, th, a {
    font-family: Baskerville, serif;
    font-weight: bold;
}

h1 {
    color: #2aa198;
}

h2 {
    color: #268bd2;
}

h3 {
    color: #6c71c4;
}

th {
    color: #d33682;
}

a {
    color: #dc322f;
}

a:visited {
    color: #b58900;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    clear: both;
}

p, ul {
    line-height: 1.5em;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}
